
/* 
solution from @Sebsemillia 
https://stackoverflow.com/questions/27279865/how-to-vertically-center-a-bootstrap-carousel-caption
} */

.carouselParent {
    border:10px solid var(--sunset);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background-color:var(--sunset);
}

.carouselImage {
  object-fit:cover;
}

.carouselCaption {
  background-color:rgba(244, 241, 222,0.8);
  /* outline:2px solid red; */
  color:var(--delft-blue) !important;
  border-radius:0.5em;
  font-size:2em;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.carouselCaptionHeader {
  font-weight:bold;
}